@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model 
<!DOCTYPE html>
<html>
<head>
    <title>Invitate</title>
</head>
<body>
    <h1 style="text-align: center">Lista de Eventos</h1>
    <br />
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.Evento)
                {

                }
            </tbody>
        </table>
    </div>
</body>
</html>

